;; !  | mandatory
;; #  | optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory rhyper
;; ## | optional any

{:profiles {:Default {:sim 70 ;; basic.simultaneous_threshold_milliseconds
                      :delay 500 ;; basic.to_delayed_action_delay_milliseconds
                      :alone 300 ;; basic.to_if_alone_timeout_milliseconds
                      :held 500 ;; basic.to_if_held_down_threshold_milliseconds
                      :default true}}

 :applications {:chrome ["^com\\.google\\.Chrome$"]
                :safari ["^com\\.apple\\.Safari$"]
                :vscode ["^com\\.microsoft\\.VSCode$"]
                :firefox ["^org\\.mozilla\\.firefox(developeredition)?$"]
                :wezterm ["^com\\.github\\.wez\\.wezterm$"]
                :orion ["^com\\.kagi\\.kagimacOS\\.RC$"]
                :coding ["^com\\.microsoft\\.VSCode$" "^com\\.jetbrains\\..*$" "^com\\.todesktop\\..*$"]

                ;; :fn_mods_apps ["^com.jetbrains\\..*$" "^com.parallels.desktop.console$" "^com\\.microsoft\\.VSCode$"]
                }

 ;;  :modifiers
 ;;  {:11 [:left_command :left_control]
 ;;   :111 [:left_command :left_option :left_shift]}
 ;;  :templates {:front "front -n '%s'"
 ;;              :front-p "front -p '%s'"
 ;;              :front-b "front -b '%s'"
 ;;             ;;  :mode "%s && sketchybar --trigger skhd_mode_changed INFO=%s"
 ;;              }

 ;;  :simlayers {:a-mode {:key :a}}

 :main
 [{:des "hyper key: caps_lock to hyper, hyper-tab to caps_lock"
   :rules [[:##caps_lock :!QWEright_shift nil
            {:alone :escape
             :delayed {:canceled :vk_none}}]
           [:!!##tab :caps_lock]]}

  ;; use caps_lock for escape
  {:des "escape to vk_none"
   :rules [[:##escape :vk_none]]}

  {:des "disable annoying shortcuts: hyper+comma to none"
   :rules [[:!!##comma :vk_none]
           [:!!##period :vk_none]]}

  {:des "hyper navigation: hyper-(any-)hjkl to (any-)arrows)"
   :rules [[:!!##h :left_arrow]
           [:!!##j :down_arrow]
           [:!!##k :up_arrow]
           [:!!##l :right_arrow]]}

  {:des "finger function: 1finger-[f1-f12] to custom keys"
   :rules [
           [:#Pf1 :display_brightness_decrement ["multitouch_extension_finger_count_total" 1]]
           [:#Pf2 :display_brightness_increment ["multitouch_extension_finger_count_total" 1]]

           [:!S#Pf1 :!OSdisplay_brightness_decrement ["multitouch_extension_finger_count_total" 1]]
           [:!S#Pf2 :!OSdisplay_brightness_increment ["multitouch_extension_finger_count_total" 1]]

           [:!C#Pf1 :illumination_decrement ["multitouch_extension_finger_count_total" 1]]
           [:!C#Pf2 :illumination_increment ["multitouch_extension_finger_count_total" 1]]

           [:!SC#Pf1 :!OSillumination_decrement ["multitouch_extension_finger_count_total" 1]]
           [:!S#Pf2 :!OSillumination_increment ["multitouch_extension_finger_count_total" 1]]

           [:#Pf3 :mission_control ["multitouch_extension_finger_count_total" 1]]
           [:f4 :launchpad ["multitouch_extension_finger_count_total" 1]]
           [:f5 :vk_none ["multitouch_extension_finger_count_total" 1]]
           [:f6 :illumination_increment ["multitouch_extension_finger_count_total" 1]]

           [:#Pf7 :rewind ["multitouch_extension_finger_count_total" 1]]
           [:#Pf8 :play_or_pause ["multitouch_extension_finger_count_total" 1]]
           [:#Pf9 :fast_forward ["multitouch_extension_finger_count_total" 1]]
           [:#Pf10 :mute ["multitouch_extension_finger_count_total" 1]]
           [:#Pf11 :volume_decrement ["multitouch_extension_finger_count_total" 1]]
           [:#Pf12 :volume_increment ["multitouch_extension_finger_count_total" 1]]]}

  {:des "firefox: ctrl-tab -> alt-pagedown, ctrl-shift-tab -> alt-pageup, swap cmd-shift-enter and cmd-enter"
   :rules [[:!Ttab :!TOpage_down :firefox]
           [:!STtab :!TOpage_up :firefox]
           ; [:!Creturn_or_enter :!CSreturn_or_enter :firefox]
           ; [:!CSreturn_or_enter :!Creturn_or_enter :firefox]
]
}

  {:des "latex: in vscode: rcmd -> $, ralt -> _, lshift -> (, rshift -> )"
   :rules [[:right_command :right_command :vscode {:alone :!S4 :delayed {:invoked :vk_none}}]
           [:right_option :right_option :vscode {:alone :!Shyphen :delayed {:invoked :vk_none}}]

           [:left_shift :left_shift :vscode {:alone :!S9 :delayed {:invoked :vk_none}}]
           [:right_shift :right_shift :vscode {:alone :!S0 :delayed {:invoked :vk_none}}]
           ]}

  ]}
